body{
font-family: 'Roboto', sans-serif;
margin: 0px;
}
h1{
font-size:30px;
}
.himo{
display: flex;
margin-bottom: 150px;

}
.true{
color: tomato;

}

.poto img{
width:90%;

}
.tor{
 padding-left: 10%;
 width: 50%;
margin-top: 110px;
}
.hip{
background: orangered;
color: paleturquoise;
padding: 10px 20px;
border-radius: 10px;
text-decoration: none;
font-size: 40;
}
a:hover {
  background-color: grey;
}
.reputaton{
background-image: url(image/top-banner.png);
background-repeat: no-repeat;


}
.yoyo{
  padding-left: 10%;
  width: 50%;
 margin-top: 110px;
 }
 .oror{
  background: orangered;
  color: paleturquoise;
  padding: 10px 20px;
  border-radius: 10px;
  text-decoration: none;
  font-size: 40;
  }
  a:hover {
    background-color: grey;
  }
  .remo{
    background-image: url(image/dream-bg.png);
    background-repeat: no-repeat;
  background-position: right;
  margin-top: 100px;
  }
  .roco{
    margin-top: 100px;

  }
  .hop{
color: red;

  }
  .roco{
background-image: url(image/exp-bg.png);
background-repeat: no-repeat;
background-position: left;

  }
  .popo{
    box-shadow: 10px 10px 40px red;
    width: 60%;
    margin-left: 5%;
    margin-right:5%;
    padding-left: 20px;
   border-radius: 40px;

  }
  footer p{
text-align: center;
color: salmon;
background: springgreen;
  }



